<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Movie Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Session["IsAuthenticated"] != null && Session["IsAuthenticated"].ToString() == "True")
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="float:right;">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">@ViewBag.UserFullName <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("User Movie Details", "UserMovieDetails", "Home")</li>
                                <li>@Html.ActionLink("User Activity", "UserMovieActivity", "Home")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Sign out", "Logout", "Home")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Internet Computing - Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
